target("MCMScripts", function()
    set_default(false)
    add_rules("@addon/bmk/{{ game }}.papyrus", {
        root = "{{ papyrus_source }}/mcm",
        imports = (get_config("papyrus_imports") or ""):split(";", { plain = true }),
        flags = get_config("papyrus_flags"),
        arguments = { "--strict", "--enable-language-extensions=true" },
    })
    add_packages("caprica"{% if game == 'skyrim' %}, "skyrim-papyrus-sdk"{% endif %})
    add_files("$(projectdir)/{{ papyrus_source }}/mcm/**.psc")
    add_installfiles("$(projectdir)/{{ papyrus_source }}/mcm/(**.psc)", { prefixdir = "{{ 'Source/Scripts' if game == 'skyrim' else 'Scripts/Source/User' }}" })
end)
