{% if game == 'skyrim' %}
using BMK.Mutagen.Skyrim;
using Mutagen.Bethesda.Skyrim;
{% else %}
using Mutagen.Bethesda.Fallout4;
{% endif %}

namespace {{ project_name.replace('-', '_') }}.Generator;

internal static class Mcm
{
    public static void AddQuest({{ 'SkyrimMod' if game == 'skyrim' else 'Fallout4Mod' }} mod)
    {
{% if game == 'skyrim' %}
        McmQuest.Add(
            mod,
            new McmQuestOptions
            {
                EditorId = "{{ project_name.replace('-', '_') }}MCMQuest",
                DisplayName = "{{ project_name }}",
                ConfigScriptName = "{{ project_name.replace('-', '_') }}MCM",
                ModName = "{{ project_name }}",
            }
        );
{% else %}
        var quest = mod.Quests.AddNew("{{ project_name.replace('-', '_') }}MCMQuest");
        quest.Name = "{{ project_name }}";
        quest.Data = new QuestData { Flags = Quest.Flag.StartGameEnabled | Quest.Flag.RunOnce };
        quest.VirtualMachineAdapter = new QuestAdapter { Version = 6, ExtraBindDataVersion = 3 };
        var script = new ScriptEntry { Name = "{{ project_name.replace('-', '_') }}MCM", Flags = ScriptEntry.Flag.Local };
        quest.VirtualMachineAdapter.Scripts.Add(script);
{% endif %}
    }
}
